<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879786320034-391ge2p87gba4br27979qgqniol8v4tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879786320034-391ge2p87gba4br27979qgqniol8v4tt</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIv9ixRRGsGoPI_n49VmqQFgn4PYBkAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>879786320034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apple.fundooNotes</string>
	<key>PROJECT_ID</key>
	<string>fundoonotes-cc78c</string>
	<key>STORAGE_BUCKET</key>
	<string>fundoonotes-cc78c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879786320034:ios:752476e32a9df4afdfb7fb</string>
</dict>
</plist>